<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.ManageMapper">

    <!-- 实体类与数据库映射字段 -->
    <resultMap id="ResultMapManage" type="com.test.po.Manage">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="passWord" column="passWord" jdbcType="VARCHAR"/>
        <result property="realName" column="realName" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 声明数据库字段 -->
    <sql id="Manage_field">
        id,userName,passWord,realName
    </sql>

    <!-- 实体类属性-->
    <sql id="Manage_insert">
        #{id},#{userName},#{passWord},#{realName}
    </sql>

    <!-- 更新结果  -->
    <sql id="Manage_update">
        <if test="userName != null">
            userName = #{userName},
        </if>
        <if test="passWord != null">
            passWord = #{passWord},
        </if>
        <if test="realName != null">
            realName = #{realName}
        </if>
    </sql>

    <!-- 查询时条件   -->
    <sql id="Manage_where">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="userName != null">
            and userName = #{userName}
        </if>
        <if test="passWord != null">
            and passWord = #{passWord}
        </if>
        <if test="realName != null">
            and realName = #{realName}
        </if>
    </sql>

    <!--通过对象查询-不分页-->
    <select id="getByEntity" parameterType="com.test.po.Manage" resultMap="ResultMapManage">
        select <include refid="Manage_field"/>
        from manage where 1=1
        <include refid="Manage_where"/>
    </select>

</mapper>